
.skeleton {
    padding: 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    background-color: var(--white);
}

.skeleton__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

.skeleton__cirlce {
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 50%;
    margin-right: 16px;
}

.lines__item {
    height: 20px;
    margin-bottom: 8px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}


.lines__item:last-child {
    margin-bottom: 0;
}

.skeleton__head_lines {
    max-width: 257px;
    width: 100%;
}

.head_lines__first {
    width: 60%;
}

.head_lines__second {
    width: 100%;
}

.info_lines__first {
    width: 95%;
}

.info_lines__second {
    width: 85%;
}